<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Create new person</title>
</head>
<body>
<h2>Добавить нового человека</h2>
<br/>
<form th:method="post" th:action="@{/people}" th:object="${person}">
    <label for="name">Введите фио: </label>
    <input type="text" id="name" th:field="*{name}"/>
    <div style="color:darkred" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
    <br/>
    <label for="age">Введите год рождения: </label>
    <input type="text" aria-label="" id="age" th:field="*{age}"/>
    <div style="color:darkred" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</div>
    <br/>
    <input value="Сохранить" type="submit"/>
</form>
</body>
</html>